<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" placeholder="Enter email" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="Enter password" required>
        <br>
        <br>
        <a href="/forgetPassword">Forget Password</a>
        <br>
        <button id="button-trigger" type="submit">Sign In</button>
        <br>
    </form>
    <br>
    <div id="notifications"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        socket.on('notification', data => {
            const divIoNotif = document.getElementById('notifications');
            const createParagraph = document.createElement('p');
            createParagraph.innerText = data;

            divIoNotif.appendChild(createParagraph);
        });

        const buttonTrigger = document.getElementById('button-trigger');
        buttonTrigger.addEventListener('click', () => {
            socket.emit('sendNotification', 'Berhasil Login');
            e.preventDefault();
        });
    </script>

</body>
</html>