<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="email">Email</label>
        <br>
        <input id="email" type="email" name="email" placeholder="Enter your email" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input id="password" type="password" name="password" placeholder="Enter your password" required>
        <br>
        <br>
        <a href="/forgetPassword">Forget Password</a>
        <br>
        <button id="button-trigger" type="submit">Sign In</button>
        <br>
    </form>
    <br>
    <div id="login-notifications"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/controllers/userControllers.js"></script>
    <script>
        let socket = io();
        const email = document.getElementById('email');
        const password = document.getElementById('password');

        socket.on('notification', data => {
            const divIoNotif = document.getElementById('login-notifications');
            const createParagraph = document.createElement('p');
            createParagraph.innerText = data;

            divIoNotif.appendChild(createParagraph);
        });

        const buttonTrigger = document.getElementById('button-trigger');
        buttonTrigger.addEventListener('click', () => {
            socket.emit('sendNotification', 'Berhasil Login');
    });
    </script>

</body>
</html>