<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Your Password</h1>
    <form action="/resetPassword" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        <label for="password">New Password</label>
        <br>
        <input type="password" name="newPassword" placeholder="Enter your new password" required>
        <br>
        <label for="confirm-password">Confirm Password</label>
        <br>
        <input type="password" name="confirm-password" placeholder="Confirm your new password again" required>
        <br><br>
        <button id="button-trigger" type="submit">Submit</button>
    </form>
    <div id="reset-notifications"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        socket.on('notification', data => {
            const divIoNotif = document.getElementById('reset-notifications');
            const createParagraph = document.createElement('p');
            createParagraph.innerText = data;

            divIoNotif.appendChild(createParagraph);
        });

        const buttonTrigger = document.getElementById('button-trigger');
        buttonTrigger.addEventListener('click', () => {
            socket.emit('sendNotification', 'Berhasil Mengganti Password');
            //e.preventDefault();
        });
    </script>
</body>
</html>